<!DOCTYPE html>
<html>
  <head>
    <title>Twice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-2">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to ' HOME', root_path, class:"glyphicon",style:"color:black;"%></li>
          </ul>
        </div>
        <div class="col-xs-2">
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to ' PROFILE',  home_profile_path, class:"glyphicon",style:"color:black;" %></li>
        </div>
      </ul>
        <div class="col-xs-2">
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to ' DISCOGRAPHY ',  home_discography_path, class:"glyphicon",style:"color:black;" %></li>
        </div>
          </ul>
          <div class="col-xs-2">
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to ' VIDEO ',  home_video_path, class:"glyphicon",style:"color:black;" %></li>
        </div>
          </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
